<h1>Now Playing</h1>
<br>

<% @movies.each_slice(3) do |movie_slice| %>
  <div class="row">
    <% movie_slice.each do |movie| %>
      <div class ="col-md-4 col-sm-6 movie-index-single">
        <div class="well">
          <img src="<%= movie.img %>">
          <ul>
          <h2>Title: <a href="/movies/<%= movie.id %>"><%= movie.title %></a></h2>
          <h2>Runtime: <%= movie.display_time %></h2>
          <h2>Rating: <%= movie.rating %></h2>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
