<h1>Orders Dashboard</h1>
<br>
<h2>
  <table style="width:100%">
    <tr>
      <% @showtimes.each do |showtime| %>
      <th><%= showtime.movie.title %>: <%= showtime.seats_sold %> purchased</th>
      <% end %>
    </tr>
  </table>
</h2>

<% @tickets.each_slice(3) do |ticket_slice| %>
  <div class="row">
    <% ticket_slice.each do |ticket| %>
      <div class="table-md-4 table-sm-6">
        <div>
          <ul>
          <li>Name: <%= ticket.full_name %></li>
          <li>Email: <%= ticket.email %></li>
          <li>Credit Card Number: <%= ticket.credit_card_number %></li>
          <li>Expiration Date: <%= ticket.expiration_date %></li>
          <li>Movie: <%= ticket.showtime.movie.title %></li>
          <li>Showtime: <%= ticket.showtime.start_time.strftime('%A %B %e at %l:%M %p') %></a></li>
          <li>Theater: <%= ticket.showtime.theater.name %></li>
          </ul>
          <br>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
