<h1>Add a Showtime</h1>

<%= form_tag '/showtimes', method: :post do %>
  <div>
    Movie:
    <select name="movie_id" class="form-field-dark">
      <%= @movies.each do |movie| %>
        <option value="<%= movie.id %>"><%= movie.title %></option>
      <% end %>
    </select>
    <br>
  </div>
  <br>
    <div>
    Theater:
    <select name="theater_id" class="form-field-dark">
      <%= @theaters.each do |theater| %>
        <option value="<%= theater.id %>"><%= theater.name %></option>
      <% end %>
    </select>
  </div>
  <br>
    <div>
    Start Time: <input type="time" name="start_time">
  </div>
  <br>
    <div>
      <input type="submit" value="Save Slot">
  </div>
<% end %>
